* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: rgba(99,140,170,255) ;
}

h1, h2, h3, p {
    margin-top: 0%;
}
img { 
    max-width: 100%; 
}
.main {
    margin-bottom: 10px;
}
.apple-nav {
    float: left;
    width: 100%;
    padding-bottom: 10px;  
}
.img-position {
    float: left;
    width: 50%;
    margin: 0 auto; 
}
.pic-size{
    height: 300px;
}
.apple-logo {
    width: 30px;
    margin-top: 10px;
    margin-left: 200px;
 }
.navigation {
    float: right;
    margin-top: 20px;
    margin-right: 70px;
}
nav, ul, li {
    display: inline-block; 
}
nav, ul, li:not(:last-child) {
    margin-right: 8px;
}
a {
    font-size: 14px;
    text-decoration: none;
    color: rgba(246,248,249,255);
    margin: 10px 10px;
}
a:hover {
    color: rgba(154,167,184,255);
    text-decoration: underline red;
}
.img-div {
    width: 40%;
    margin: 0 auto;
}
.devices-section {
    width: 100%;
}
.devices-margin {
   
    padding-top: 10px;
}
.fa-2xl {
    padding: 30px;
}
.devices-size {
    width: 25%;
    text-align: center;
    font-size: 23px;
    padding: 7px;
    float: 25%;
    float: left;
}

.img-margin {
   
    display: inline-block;
    height: 310px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.devices-img {
    width: 50%;
    margin: 0 auto ;
    background-color: rgba(183,206,214,255);
    height: 310px;
}
.img-properties {
    max-width: 30%;
    margin: 0 auto;
    display: block;
    padding-top: 40px;
}
.text-section {
    width: 50%;
    margin: 0 auto;
    height: 310px;
    padding-top: 30px;
}
.text-properties {
    color: rgb(255, 255, 255);
    font-size: 17.5px;
    text-align: center end;
    margin-bottom: 0;
    text-indent: 10%;
    padding: 10px
}
.ipad-head {
    margin-top: 9px;
    font-size: 22px;
    text-align: center;
}
.item {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    height: 300px;
}
.clear {
    clear: both;
}
.bg-dark-grey {
   background-color: rgba(188,185,170,255);
}
.mac-col {
    background-color: rgba(240,158,132,255);
   
}
.bg-light-grey {
    background-color: rgba(219,219,219,255);
}

.bg-light-blue {
    background-color: rgba(156,224,209,255);
}
.bg-mid-grey {
    background-color: rgba(154,167,184,255);
}
.bitem {
    float: left;
    width: 33.333%;
    padding: 10px;
}
h2 {
    text-align: center;
}
.bot-text {
    color: white;
    text-align: center;
    font-size: 10px;
}
.net-icons {
    width: 60%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.a-icons {
    margin-left: 15px;
}
footer {
    height: 80px;
    background-color: rgba(81,67,84,255);
    text-align: center;
    color: rgb(255, 255, 255);
}
.footer {
    width: 50%;
    margin: 0 auto;
    padding-top: 35px;
}